<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h2 class="text-center">Cadastro</h2>
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form-group">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, class: 'form-control', autocomplete: "first_name" %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true, class: 'form-control', autocomplete: "last_name" %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: "email" %>
      </div>

      <div class="form-group">
        <%= f.label :age %><br />
        <%= f.number_field :age, autofocus: true, class: 'form-control', autocomplete: "age" %>
      </div>

      <div class="form-group">
        <%= f.label 'Senha' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
        <% end %><br />
        <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
      </div>

      <div class="form-group">
        <%= f.label 'Confirmação da Senha' %><br />
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
      </div>
    <div class="actions">
      <%= f.submit "Cadastrar", class: 'btn btn-outline-success' %>
      <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>

<% end %>

