<div class="row">
  <div class="col text-center">
    <h1>Cartões de <%= current_user.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        Todos
      </div>
      <% current_user.cards.each do |card| %>
        <div class="card-body">
          <h5 class="card-title"><%= card.name %></h5>
          <p class="card-text"><%= card.bank %></p>
          <%= link_to 'Editar Cartão', edit_card_path(card), class: 'btn btn-primary' %>
        </div>
      <% end %>
      <div class="card-footer text-muted">
        <%= link_to 'Adicionar Novo Cartão', new_card_path %>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        Em Aberto
      </div>
      <div class="card-body">
        <h5 class="card-title">Título especial</h5>
        <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
        <a href="#" class="btn btn-primary">Visitar</a>
      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Registrar Pagamento'%>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        Em Atraso
      </div>
      <div class="card-body">
        <h5 class="card-title">Título especial</h5>
        <p class="card-text">Com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
        <a href="#" class="btn btn-primary">Visitar</a>
      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Registrar Pagamento'%>
      </div>
    </div>
  </div>
</div>